<form method="post" action="new">
<h2>Create Event</h2>
<table border="0">
<tr>
<td><input type="text" name="name" /></td>
<td><input type="text" name="date" /></td>
<td><input type="submit" value="Create event"/></td>
</tr>
<tr>
<td>Name of event</td>
<td>Date of event</td>
</tr>
</table>
</form>


