<body>
<form method="post" action="login">
<h2>Log in!</h2>
                    
</br>Username:<input class="textbox" type="text" name="username" /></br>

</br>Password:<input class="textbox" type="password" name="password" /></br>

</br><input class="boton" type="submit" value="Log in"/></br>

</br><a href="/sign_in_page">Aren't a memeber? Sig in!</a>

</form>
</body>
